body {
    background-color: whitesmoke;
}

p {
    color: firebrick;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid black;
}

th {
    font-style: italic;
    font-size: x-large;
}

#header {
    color: firebrick;
}

#mpheader {
    color: firebrick;
}

#bevmenuheader {
    color: firebrick;
}

#cyb {
    color: firebrick;
}

#weare {
    color: firebrick;
}

#signature {
    color: firebrick;
}

#nav {
    color: firebrick;
}

#email {
    color: firebrick;
}

#fb {
    font-weight: bolder;
    font-size: x-large;
    color: firebrick;
}

#insta {
    font-weight: bolder;
    font-size: x-large;
    color: firebrick;
}

#bevmessage {
    color: firebrick;
}

p.about {
    color: firebrick;
}

table.menu {
    color: firebrick;
}

